<div class="sidebar">
    <ul>
        <li><a href="accessories">Accessories</a></li>
        <li><a href="coolingfan">Cooling Fan</a></li>
        <li><a href="gamepad">Gamepad</a></li>
        <li><a href="headset">Headset</a></li>
        <li><a href="keyboard">Keyboard</a></li>
        <li><a href="Monitor">Accessories</a></li>
        <li><a href="coolingfan">Cooling Fan</a></li>
        <li><a href="gamepad">Gamepad</a></li>
        <li><a href="headset">Headset</a></li>
        <li><a href="keyboard">Keyboard</a></li>
        <!-- Add more categories as needed -->
    </ul>
</div>