<div class="infobar">
    <ul>
        <li><a href="/info/warranty">WARRANTY</a></li>
        <li><a href="/info/return-policy">RETURN-POLICY</a></li>
        <li><a href="/info/shipping">SHIPPING</a></li>
        <li><a href="/info/payment-method">PAYMENT-METHOD</a></li>
        <!-- Add more categories as needed -->
    </ul>
</div>