* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;  /* Prevents scrolling */
}

#splash-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;  /* Or any other color that suits your design */
}

#splash-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensures the GIF covers the whole area */
}
