body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .blue-circle {
    width: 30px; 
    height: 30px; 
    background-color: #509CFF; 
    border-radius: 50%; 
  }
 .center{
    text-align: center;
 }
  .navbar {
    background-color: white; /* Example blue color */
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .navbar a {
    color: black;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.25rem 0;
    position: relative;
  }

.bold{
    font-weight: bold;
}

.head{
    text-decoration: blue;
    color: blue;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #303030;
    padding-right: 6%;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    display: inline-block;
  }

.btn1{
    background-color: blue;
}
.layout {
    padding-top: 7%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto; 
}

.left-column, .center-column, .right-column {
    margin: 10px; 
}

.left-column {
    flex: 1; 
}

.center-column {
    flex: 2; 
}

.right-column {
    flex: 1; 
}

.left-column img, .center-column img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

h2, h3, h4 {
    margin: 0.5em 0;
}

.sidebar-article {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
}
